- name: Java install
  apt:
    name: openjdk-25-jdk
    state: present

- name: GPG ключ
  apt_key:
    url: "https://artifacts.opensearch.org/publickeys/opensearch.pgp"
    state: present

- name: Добавить репу OpenSearch
  apt_repository:
    repo: "https://artifacts.opensearch.org/releases/bundle/opensearch/3.4.0/opensearch-3.4.0-linux-x64.deb"
    state: present
    update_cache: yes

- name: Установить OpenSearch
  apt:
    name: "opensearch={{ opensearch_version }}"
    state: present

- name: Создать директорию для конфигов
  file:
    path: /etc/opensearch
    state: directory
    mode: '0755'

- name: Разместить конфи OpenSearch
  copy:
    src: "opensearch.yml"
    dest: "/etc/opensearch/opensearch.yml"
    mode: '0644'
  notify: restart opensearch

- name: Настроить jvm.options
  copy:
    src: "jvm.options"
    dest: "/etc/opensearch/jvm.options"
    mode: '0644'
  notify: restart opensearch

- name: Откл security plugin
  lineinfile:
    path: /etc/opensearch/opensearch.yml
    regexp: '^plugins.security.disabled:'
    line: 'plugins.security.disabled: true'
    state: present
  notify: restart opensearch

- name: Запустить OpenSearch
  service:
    name: opensearch
    state: started
    enabled: yes

- name: Запуск OpenSearch
  wait_for:
    port: 9200
    delay: 5
    timeout: 60

- name: Создать индекс для логов
  uri:
    url: "http://localhost:9200/logs-nginx"
    method: PUT
    body_format: json
    body:
      settings:
        number_of_shards: 1
        number_of_replicas: 0
      mappings:
        properties:
          "@timestamp":
            type: "date"
          message:
            type: "text"
          log_type:
            type: "keyword"
          host:
            type: "keyword"
    status_code: 200
  ignore_errors: yes
  changed_when: false
