cloud_id = "xxxx"
folder_id = "xxxx"
sa_key_file = "tf-key.json"

subnets = {
  public = {
    zone = "ru-central1-b"
    cidr = "10.10.1.0/24"
    public = true
  }

  private-a = {
    zone = "ru-central1-a"
    cidr = "10.10.2.0/24"
    public = false
  }

  private-b = {
    zone = "ru-central1-b"
    cidr = "10.10.3.0/24"
    public = false
  }
}
